
@{
    ViewData["Title"] = "servicedetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (System.Data.DataRow dr in ViewBag.DataSource.Rows)
{
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="service-view">
                <div class="service-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h1>@dr["name"].ToString()</h1>
                        <div class="fav-btn fav-btn-big">
                            <a href="javascript:void(0)" class="fav-icon with-border">
                                <i class="fas fa-heart"></i>
                            </a>
                        </div>
                    </div>
                  
                    <div class="rating">
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <span class="d-inline-block average-rating">(5)</span>
                    </div>
                    <div class="service-cate">
                        <a href="search.html">@dr["cat_name"].ToString()</a>
                    </div>
                </div>
                <div class="service-images service-carousel">
                    <div class="images-carousel owl-carousel owl-theme">
                        <div class="item">
                            <img src="~/servicesimage/@dr["image"].ToString()" alt="" class="img-fluid">
                        </div>
                     </div>
                </div>
                <div class="service-details">
                    <ul class="nav nav-pills service-tabs" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Services Offered</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-book-tab" data-toggle="pill" href="#pills-book" role="tab" aria-controls="pills-book" aria-selected="false">Reviews</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Services Offered</h5>
                                    <div class="service-offer">
                                        <ul class="list-bullet">
                                            <li>Lorem Ipsum</li>
                                            <li>Lorem Ipsum</li>
                                            <li>Lorem Ipsum</li>
                                            <li>Lorem Ipsum</li>
                                            <li>Lorem Ipsum</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-book" role="tabpanel" aria-labelledby="pills-book-tab">
                            <div class="card review-box">
                                <div class="card-body">
                                    <div class="review-list">
                                        <div class="review-img">
                                            <img class="rounded-circle" src="assets/img/customer/user-01.jpg" alt="">
                                        </div>
                                        <div class="review-info">
                                            <h5>Jeffrey Akridge</h5>
                                            <div class="review-date">August 06, 2020 20:07 pm</div>
                                            <p class="mb-0">Good Work</p>
                                        </div>
                                        <div class="review-count">
                                            <div class="rating">
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <span class="d-inline-block average-rating">(5.0)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="card-title">Related Services</h4>
        </div>
        <div class="col-lg-4 theiaStickySidebar">
            <div class="sidebar-widget widget">
                <div class="service-amount">
                    <span>₹@dr["price"].ToString()</span>
                </div>
                <div class="service-book">
                  @Html.ActionLink("Book", "book_servives", new { services_id = dr["id"].ToString() },new { @class = "btn btn-primary"})
                </div>
            </div>
            <div class="card available-widget">
                <div class="card-body">
                    <h5 class="card-title">Service Availability</h5>
                    <ul>
                        <li><span>Monday</span>9:30 AM - 7:00 PM</li>
                        <li><span>Tuesday</span>9:30 AM - 7:00 PM</li>
                        <li><span>Wednesday</span>9:30 AM - 7:00 PM</li>
                        <li><span>Thursday</span>9:30 AM - 7:00 PM</li>
                        <li><span>Friday</span>9:30 AM - 7:00 PM</li>
                        <li><span>Saturday</span>9:30 AM - 7:00 PM</li>
                        <li><span>Sunday</span>9:30 AM - 7:00 PM</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
}

