<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from html.truelysell.com/template/admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 07 Aug 2022 11:44:40 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Truelysell | Template</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="~/admincss/assets/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/admincss/assets/plugins/bootstrap/css/bootstrap.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/admincss/assets/css/admin.css">

</head>

<body>
    <div class="main-wrapper">

        @RenderBody()
    </div>

    <!-- jQuery -->
    <script src="~/admincss/assets/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/admincss/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom JS -->
    <script src="~/admincss/assets/js/admin.js"></script>

</body>


<!-- Mirrored from html.truelysell.com/template/admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 07 Aug 2022 11:44:40 GMT -->
</html>